
   <%- include('partials/header')%>
   <div class="cat-header">
        <h1 class="cat-title"><%=category.name%></h1>
        <a class="cat-add" href="/categoryDetails/<%= categoryId%>/newItem">Add New Item</a>
   </div>
   
    <div class="categories-container">
        <%items.forEach((item) => {%>
            <div class="category-card">
                <img src="<%=item.image_url%>" alt="Picture of <%=item.name%>">
                <div class="card-body">
                    <p class="title"><%=item.name%></p>
                    <p class="category-description"><%=item.description%></p>
                    <p>Price: $<%=item.price%></p>
                    <p>Quantity: <%=item.quantity%></p>
                </div>
              
                <div class="card-actions">
                    <a class="btn btn-view" href="/itemDetails/<%=item.id%>">View Item</a>
                </div>
                
                
            </div>
        <%})%>
    </div>
    <%- include('partials/footer')%>
