
   <%- include('partials/header')%>
   <h1><%=category.name%></h1>
   <a href="/categoryDetails/<%= categoryId%>/newItem">Add New Item</a>
    <div class="items-container">
        <%items.forEach((item) => {%>
            <div class="item-card">
                <img src="<%=item.image_url%>" alt="Picture of <%=item.name%>">
                <p><%=item.name%></p>
                <p><%=item.description%></p>
                <p><%=item.price%></p>
                <p><%=item.quantity%></p>
                <p><a href="/itemDetails/<%=item.id%>">View Item</a></p>
                
            </div>
        <%})%>
    </div>
    <%- include('partials/footer')%>
