
    <%- include('partials/header')%>
    <div class="categories-container">
        <%categories.forEach((category) => {%>
            <div class="category-card">
                <p><%=category.name%></p>
                <p><%=category.description%></p>
                <img src="<%=category.image_url%>" alt="Pic of <%=category.name%>" height="150px" width="150px">
                <a href="/categoryDetails/<%=category.id%>">View all <%=category.name%></a>
            </div>
        <%})%>
    </div>
    <%- include('partials/footer')%>
