
    <%- include('partials/header')%>
    <div class="categories-container">
        <%categories.forEach((category) => {%>
            <div class="category-card">
                <img src="<%=category.image_url%>" alt="Pic of <%=category.name%>" >
                <p><b><%=category.name%></b></p>
                <p class="category-description"><%=category.description%></p>
                <div class="card-actions">
                    <a href="/categoryDetails/<%=category.id%>">View all</a>
                    <a href="/<%=category.id%>/updateCategory">Update</a>
                    <form action="/<%=category.id%>/deleteCategory" method="post"
                        onsubmit="return confirm('Are you sure you want to Delete?')">
                    <button type="submit">Delete</button>
                </form>
                </div>

            </div>
        <%})%>
    </div>
    <%- include('partials/footer')%>
