
    <%- include('partials/header')%>
    <div class="item-container">
            <div class="item-card">
                <p><%=item.name%></p>
                <p><%=item.description%></p>
                <p><%=item.price%></p>
                <p><%=item.quantity%></p>
                <p><a href="/<%=item.id%>/updateItem">Update</a></p>
                <p><a href="">Delete</a></p>
                <img src="<%=item.image_url%>" alt="Picture of <%=item.name%>">
            </div>
            <a href="/categoryDetails/<%=item.category_id%>">Back</a>
    </div>
    <%- include('partials/footer')%>
